<ion-view style="" id="page3" title="Collaboration">
  <ion-content class="has-header" padding="true">
    <p>
      Collaboration
    </p>
    <p ng-controller="collaborationCtrl">
      Proposer sa collaboration : Métier / departement / spécialisation .
    </p>
    <img src="img/cadulink.jpeg" style="width: 80%" class="col-offset-10">
    <div class="card" ng-repeat='collaboration in collaborations'>
      <div class="">
        {{collaboration.metier}}
      </div>
      <div class="">
        {{collaboration.department}}
      </div>
      <div class="">
        {{collaboration.specification}}
      </div>
    </div>
    <form>
      <label class="item item-input">
        <span class="input-label">Métier :</span>
        <input type="text" placeholder="" ng-model="user.job">
      </label>
      <label class="item item-input">
        <span class="input-label">Département :</span>
        <input type="text" placeholder="" ng-model="user.department">
      </label>
      <label class="item item-input">
        <span class="input-label">Spécialisation :</span>
        <input type="text" placeholder="" ng-model="user.specification">
      </label>
      <label class="item item-input">
      <span class="input-label top">Detail de la collaboration : </span>
      <textarea name="name" rows="3" cols="100" ></textarea>
      </label>
      <button class="button button-stable button-block button-positive" type="submit" ng-click="save(user)">Connexion</button>
    </form>
  </ion-content>
</ion-view>
