<ion-view  id="page1" title="Depot d'annonce">
    <ion-content class="has-header" padding="false" >
        <ion-list style="">
            <ion-item style="" ui-sref="medecin" class="item-avatar-left">
                <img src="img/medecin.jpeg">
                <h2>Médecin</h2>
                <p>Déposez vos remplacement pour les médecin</p>
            </ion-item>
            <ion-item style="" ui-sref="kinesitherapeute" class="item-avatar-left">
                <img src="img/kinesitherapie.jpeg">
                <h2>Kinésithérapeute</h2>
                <p>Déposez vos remplacement pour les Kinésithérapeutes</p>
            </ion-item>
            <ion-item style="" ui-sref="infirmier" class="item-avatar-left">
                <img src="img/infirmiere.png">
                <h2>Infirmiers</h2>
                <p>Déposez vos remplacement pour les infirmiers</p>
            </ion-item>
            <ion-item style="" ui-sref="dentiste" class="item-avatar-left">
                <img src="img/dentiste.jpeg">
                <h2>Dentiste</h2>
                <p>Déposez vos remplacement pour les dentistse</p>
            </ion-item>
            <ion-item style="" ui-sref="cardiologue" class="item-avatar-left">
                <img src="img/cardiologue.png">
                <h2>Cardiologue</h2>
                <p>Déposez vos remplacement pour les cardiologues</p>
            </ion-item>
            <ion-item style="" ui-sref="liberal" class="item-avatar-left">
                <img src="img/libéral.jpeg">
                <h2>Infirmiers libéraux</h2>
                <p>Déposez vos remplacement pour les infirmiers libéraux</p>
            </ion-item>
            <ion-item ui-sref="pharmacien" class="item-avatar-left">
              <img src="img/pharmacien.png">
              <h2>Pharmacien</h2>
              <p>Déposez vos remplacement pour les Pharmacien</p>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>
