<ion-view style="" id="" title="">
    <ion-content class="has-header" padding="true" style="background: url(img/7xnvsRS4KaqPgXSLiwyg_home_cadu.jpg) no-repeat center; background-image:cover ;">
        <div style="color: rgb(109, 108, 177); font-size: 20px; text-align: center;" id="home-markdown1">
            <p>Bienvenue sur l'application de remplacement Cadulink.</p>
        </div>
        <a ui-sref="seek_remp">
            <div class="" style="margin-top:50px;" >
                <button type="button" class="button button-block button-positive" name="button"><i class="ion-checkmark-round -left"></i>Personnes instalées cherchant un remplacement</button>
            </div>
        </a>
        <a ui-sref="depot_remp" >
            <div class="" style="margin-top:50px;">
                <button type="button" class="button button-block button-positive" name="button"><i class="ion-checkmark-round -left"></i>Déposer vos annonces de remplacement</button>
            </div>
        </a>
    </ion-content>
</ion-view>
