<ion-view  id="page1" title="Recherche remplacement">
    <ion-content class="has-header" padding="false" >
        <ion-list style="">
            <ion-item style="" ui-sref="medecin-rem" class="item-avatar-left">
                <img src="img/medecin.jpeg">
                <h2>Médecin</h2>
                <p>Déposer une demande de remplacement de médecin</p>
            </ion-item>
            <ion-item style="" ui-sref="kinesitherapeute-rem" class="item-avatar-left">
                <img src="img/kinesitherapie.jpeg">
                <h2>Kinésithérapeute</h2>
                <p>Déposer une demande de remplacement de Kinésithérapeute</p>
            </ion-item>
            <ion-item style="" ui-sref="infirmier-rem" class="item-avatar-left">
                <img src="img/infirmiere.png">
                <h2>Infirmiers</h2>
                <p>Déposer une demande de remplacement d'infirmier</p>
            </ion-item>
            <ion-item style="" ui-sref="dentiste-rem" class="item-avatar-left">
                <img src="img/dentiste.jpeg">
                <h2>Dentiste</h2>
                <p>Déposer une demande de remplacement de dentiste</p>
            </ion-item>
            <ion-item ng-click="openModal()" style="" ui-sref="cardiologue-rem" class="item-avatar-left">
                <img src="img/cardiologue.png">
                <h2>Cardiologue</h2>
                <p>Déposer une demande de remplacement de cardiologue</p>
            </ion-item>
            <ion-item style="" ui-sref="liberal-rem" class="item-avatar-left">
                <img src="img/libéral.jpeg">
                <h2>Infirmiers libéraux</h2>
                <p>Déposer une demande de remplacement d'infirmiers libéraux</p>
            </ion-item>
            <ion-item ui-sref="pharmacien-rem" class="item-avatar-left">
              <img src="img/pharmacien.png">
              <h2>Pharmacien</h2>
              <p>Déposer une demande de remplacement de Pharmacien</p>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>
