<ion-view style="" id="page4" title="Médecin">
  <ion-content class="has-header" padding="true">
  <button class="button button-positive"  ng-click="openModal()">Ajouter une annonce</button>
    <ion-list>
      <ion-item ng-repeat="announcement in annoucements">
        <p>{{announcement.title}}        </p><br>
        <p>{{announcement.description}}  </p>
        <p>{{announcement.region}}       </p><br>
      </ion-item>
    </ion-list>
    <form style="" class="list"></form>
    <div style="" class="list card">
      <div class="item item-divider item-positive">Communauté Médecin</div>
      <div class="item item-body">
        <div style="text-align: center;">
          <img src="img/medecin.jpeg"  height="auto" width="50%">
        </div>
      </div>
    </div>
    <div class="list">
      <div class="item range range-positive">0 km
        <i class="icon ion-home"></i>
        <input type="range" name="volume" min="0" max="100" value="10">
        <i class="icon ion-map"></i>100 km
      </div>
    </div>
    <form style="" class="list"></form>
    <div  style=" font-size: 15px; text-align: center;" >
      <p>Découvrez ci-dessous les différentes offres de remplacement concernant les Médecins.</p>
    </div>
    <div style="" class="list card">
      <div class="item item-divider item-positive">Remplacement à Meudon</div>
      <div class="item item-body">
        <div style=" text-align: center;" >
          <img src="img/meudon.png" height="auto" width="100%"/>
          <p>Médecin généraliste installé à Meudon Cherche remplaçant (e) 1 à 2 jours par semaine à partir de septembre 2016. Possibilité de faire des remplacements avant. Étudie toutes propositions....</p>
        </div>
      </div>
      <div class="item item-divider item-positive">Meudon (92 )</div>
      <div class="item item-divider item-positive">Retrocession : 80 %</div>
      <div class="item item-divider item-positive">Du 12/05 au 27/05 *insérer picto*</div>
    </div>
    <div style="" class="list card">
      <div class="item item-divider item-positive">Recherche remplaçant(e) pour congés maternité</div>
      <div class="item item-body">
        <div style=" text-align: center;" >
          <img src="img/saint-ouen.png" alt="" />
          <p>Généraliste installée depuis 2012 sur Saint Ouen
            l'Aumone (95) cherche un(e) remplaçant(e) pour mon congés maternité de septembre 2016 à janvier 2017 (date à fixer selon
            disponibilité accouchement prévu fin septembre). Patientèle variée du nourrisson à la personne agée, suivi de grosse...</p>
          </div>
        </div>

        <div class="item item-divider item-positive">Val-d'Oise - Saint-Ouen-l'Aumône (95)</div>
        <div class="item item-divider item-positive">Retrocession : 80 %</div>
        <div class="item item-divider item-positive">Du 12/05 au 27/05 *insérer picto*</div>
      </div>
      <div style="" class="list card">
        <div class="item item-divider item-positive">recherche remplacant(e) pour aout</div>
        <div class="item item-body">
          <div style=" text-align: center;" >
            <img src="img/fonsegrive.png" width="100%" alt="" />
            <p>Bonjour, je recherche un(e) remplacant(e) du 08
              au 26 aout a Quint-Fonsegrives (10min a l'est de Toulouse). 20-25C par jour et 1-2 V /j. 80% de retro.
              Logiciel Chorus. Consultations sans rdv du lundi au vendredi de 10h à12h et de 16h à 19h. Patiente tres variée...</p>
            </div>
          </div>
          <div class="item item-divider item-positive">Quint-Fonsegrives (31)</div>
          <div class="item item-divider item-positive">Retrocession : 80 %</div>
          <div class="item item-divider item-positive">Du 12/05 au 27/05 *insérer picto*</div>
        </div>
      </ion-content>
    </ion-view>
